<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc8wh7mxyJVlt5PeHV9t7Zijybntk8H3U</string>
	<key>GCM_SENDER_ID</key>
	<string>60575007847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndrewOsip.Chore-Tracker</string>
	<key>PROJECT_ID</key>
	<string>chore-tracker-aace4</string>
	<key>STORAGE_BUCKET</key>
	<string>chore-tracker-aace4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60575007847:ios:62a989b964e0b122acc0c2</string>
</dict>
</plist>